.form-wrapper {
    display:flex;
    width:100%;
    justify-content: left;
}

.Form {
    display:flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    background-color: grey;
    font-size: 2rem;
    height: 500px;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.flex-row-wrapper {
    display:flex;
    flex-direction: row;
    width:80%;
    /* justify-content: space-around; */
    justify-items: space-between;
    justify-content: space-evenly;    
}

.list-tickets {
    color: black;
}

.singleTicket{
    color: black;
    position:relative;
    left: 50px;
    margin: 10%;
    width:1000px;
    background-color: aqua;
}